name: Publish Release to Registry
on:
  release:
    types: [published]

permissions:
  id-token: write

jobs:
  npm_publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: corepack enable
      - run: yarn
      - run: npm --no-git-tag-version version ${{ github.event.release.tag_name }}
      - run: yarn run build
      - run: yarn npm publish --access public --provenance

  npm_test:
    needs: [npm_publish]

    runs-on: ubuntu-latest

    container:
      image: node:lts-alpine

    steps:
      - run: npm -g install @jahia/jahia-reporter@${{ github.event.release.tag_name }}
      - run: jahia-reporter --help

  docker:
    needs: [npm_test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Get release version
        id: get_version
        run: echo "RELEASE_VERSION=${GITHUB_REF:10}" >> "$GITHUB_ENV"
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: jahia/jahia-reporter
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          tags: 'latest,${{ env.RELEASE_VERSION }}'
