---
##########################
##########################
## Super Linter GitHub Actions ##
##########################
##########################
name: Super Linter

#############################
# Start the job on all push #
#############################
on:
  push:
    branches: ['main', 'master']
  pull_request:
    branches: ['main', 'master']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

###############
# Set the Job #
###############
jobs:
  super-lint:
    # Name the Job
    name: Lint Code Base
    # Set the agent to run on
    runs-on: ubuntu-latest

    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: super-linter/super-linter@v8
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          # Enable specific linters
          VALIDATE_TYPESCRIPT_ES: true
          VALIDATE_TYPESCRIPT_STANDARD: true
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_JSON: true
          VALIDATE_YAML: true
          VALIDATE_MARKDOWN: true
          VALIDATE_DOCKERFILE: true
          VALIDATE_GITHUB_ACTIONS: true

          # TypeScript specific config
          TYPESCRIPT_ES_CONFIG_FILE: .eslintrc

          # Only validate changed files on PR
          VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
